header{
    width: 100%;
    height: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
}nav{
    width: 80%;
    height: 80%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 2%;
}

.section1{
    background-image: url(../../Assets/Images/Socials/fon.svg);
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: center;
    width: 100%;
    height: 261px;
    gap: 52px;
}

.section1__texte{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 14px;
    width: 100%
}

.section1__h1{
    font-weight: bold;
    text-align: center;
    color: rgb(var(--primary-color));
}

.section1__p{
    color: rgb(var(--primary-color));
    text-align: center;
}

.section1__but-inscrire{
    font-size: 16px;
    background-color: rgb(var(--troixième-color));
    color: rgb(var(--secondary-color));
    border: none;
    width: 75px;
    height: 26px;
    border-radius: 10px;
    cursor: pointer;
    transition: all 300ms;
}

.section1__but-inscrire:hover{
    background-color: rgb(var(--troixième-color), 0.7);
}



